<h1>Toppages#index</h1>

<div class="item col-md-4 col-sm-4 col-xs-6">
    <a href="https://news.google.com/?hl=ja&tab=wn1&gl=JP&ceid=JP:ja" target="_blank" title="">
    <img src="http://capture.heartrails.com/?https://news.google.com/?hl=ja&tab=wn1&gl=JP&ceid=JP:ja">
    </a>
    <p>gitにあげて</p>
</div>
  