
<ul class="nav nav-tabs nav-justified anime-tag" role="tablist">
    <li class="nav-item ">
      <a class="nav-link bg-secondary text-white" href="/">トップ</a>
    </li>
    <li class="nav-item anime-tag">
      <a class="nav-link bg-danger text-white activate" href="/anime/index">アニメ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-warning text-white" href="/game/index">game</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-success text-white" href="/economy/index">経済</a>
    </li>

    <li class="nav-item">
      <a class="nav-link bg-primary text-white "href="/technology/index">Technology</a>
    </li>
  </ul>




<div class="item col-md-4 col-sm-4 col-xs-6">
    <a href="https://news.google.com/?hl=ja&tab=wn1&gl=JP&ceid=JP:ja" target="_blank" title="">
    <img src="http://capture.heartrails.com/?https://news.google.com/?hl=ja&tab=wn1&gl=JP&ceid=JP:ja">
    </a>
    <p>テストサムネイル</p>
</div>
