// Place all the styles related to the economy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the anime controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.economy-tag{
    background-color:#28a745!important;
    border-color:#28a745!important;
    border-size: 5px;
    border-style: solid;
}
