// Place all the styles related to the toppages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-tag{
    background-color:#6C757D;
    border-color:#6C757D;
    border-size: 5px;
    border-style: solid;
}

.thum{
    
    border-color:#6C757D;
    border-size: 2px;
    border-style: solid;
}